:root {
  --green: #babd8e;
  --dark-green: #2b3928;
  --yellow: #ffefcd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f5f9;
  font-family: "Roboto", sans-serif;
}


.wapper {
  margin: 60px auto;
  width: 300px;
  background-color:white;
  padding: 10px 30px 30px;
  border-radius: 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.wapper input {
  padding-left: 10px;
  margin-bottom: 10px;
  height: 45px;
  width: 100%;
  border: 1px solid var(--dark-green);
  outline: none;
  border-radius: 10px;
}

.wapper .btn {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--dark-green);
  color: var(--yellow);
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin: 10px;
}

.btn:hover {
  transform: scale(1.1);
}

.wapper input:focus {
  border: 1px solid darkgreen;
}

.wapper input::placeholder {
  color: var(--dark-green);
}

/*.wapper .login-link {
    display: block;
    transform: translateX(120px);
    margin-bottom: 20px;
    color: var(--bg--color);
  }
  */
/*.wapper .signup-link{
    display: block;margin: 40px auto;
    text-decoration: none;
    color: grey;
    transition: .3s linear;
  }*/
.wapper .login-link {
  display: block;
  text-decoration: none;
  color: var(--dark-green);
  text-transform: uppercase;
  transition: .3s linear;
  padding-top: 17px;
  margin-left: 5px;
}
#loll{
  top:20px;
  color: red;
  position: absolute;
}
.wapper div:last-child{
  display: flex;
  justify-content: center;
}
.wapper p{
  color: var(--green);
  letter-spacing: 1px;

}
.wapper .test-icon {
  color: red;
  margin-left: 10px;
}

.wapper .user_name,
.gmail,
.password {
  display: flex;
  margin-left: 20px;
  margin: 10px;
}
h2 {
  color:red;
}